
<!-- CSS<app-login></app-login> only

{{usuarios}}-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<div class="container">
 <!-- <button (click)="Listar()" class="btn btn-info">listar</button>-->
  <!--<button (click)="Nuevo()" class="btn btn-info" style="margin-left:10px">Nuevo Usuario</button> -->
  <button (click)="Asientos()" class="btn btn-info" style="margin-left:10px">Asientos</button>
  <button (click)="Aviones()" class="btn btn-info" style="margin-left:10px">Aviones</button>
</div>
<hr> 
<router-outlet></router-outlet>
